<h1><%= project.name %></h1>

<%= link_to_unless_current 'Stories', project_path(project) %> -
<a id="hideDone" href="#">Done</a> -
<a id="hideProgress" href="#">Progress</a> -
<a id="hideBacklog" href="#">Backlog</a> -
<a id="hideChilly" href="#">Chilly</a> -
<a id="hideMywork" href="#">My Work</a>
<span style="float:right">
<%= link_to_unless_current 'Members', project_users_path(project) %> |
<%= link_to_unless_current 'Edit', edit_project_path(project) %> |
<%= link_to_unless_current 'Import', import_project_stories_path(project) %>
| <a id="add_story" href="#">Add story</a>
</span>
