<!DOCTYPE html>
<html>
<head>
  <title>Fulcrum</title>
  <%= csrf_meta_tag %>
	<script language="JavaScript">
	//redirect http to https - even though i dont think this matters anymore
	var a = document.URL.split("//"); // split at protocol
	//alert(a[0]);
	if (a[0]=='http:'){
		window.location = 'https://'+a[1];
	}else{
		//do nothing
	}
	</script>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'underscore.js', 'jquery-1.4.2.min', 'jquery.tagsinput.min',
    'backbone.js', 'jquery-ui-1.8.11.custom.min', 'jquery.tmpl.min.js',
    'jquery.gritter.min.js', 'jquery.scrollTo-min.js', 'backbone.rails',
    'rails.js', 'models/story', 'models/project', 'models/user',
    'collections/story_collection', 'collections/user_collection',
    'views/form_view', 'views/story_view', 'views/app_view',
    'fulcrum' %>
		<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.0.0.min.css">
</head>
<body>
	<noscript>
	 For full functionality of this site it is necessary to enable JavaScript.
	 Here are the <a href="http://www.enable-javascript.com/" target="_blank">
	 instructions how to enable JavaScript in your web browser</a>.
	</noscript>
<div id="header">
  <ul id="primary-nav">
    <li class="root"><%= link_to "Fulcrum", root_path %></li>
    <% if current_user %>
      <li class="secondary">
        Projects
        <ul>
          <%- current_user.projects.each do |project| -%>
            <li><%= link_to project, project %></li>
          <%- end -%>
        </ul>
      </li>
      <li><%= link_to current_user.email, edit_user_registration_path %></li>
      <li><%= link_to 'Log out', destroy_user_session_path %></li>
    <% else %>
      <li><%= link_to 'Log in', new_user_session_path %></li>
      <li><%= link_to 'Sign up', new_user_registration_path %></li>
    <% end %>
  </ul>
</div>

<div id="title_bar">
  <%= yield :title_bar %>
</div>

<div id="main">
	<% flash.each do |key, msg| %>
	    <%= content_tag :div, msg, :class => [key, " message"], :id => "notice_ #{key}" %>
	    <%= content_tag :script, :type => "text/javascript" do -%>
	        setTimeout("$('.<%= key %>').fadeOut('slow')", 10000);
	    <% end %>
	<% end %>
  <!--<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>-->

  <%= yield %>
</div>
<script>
// $('input[name="labels"]').tagsInput({
//    'height':'100px',
//    'width':'300px',
//    'unique':true,
//    'defaultText':'add a tag'
// });
// function update_label_hidden_input(value){
// 	alert(value);
// }

$('#hideDone').click(function() {
	$('.doneColumn').toggle('slow', function() {
		if ($('.doneColumn').is(":visible") == true){
			$('#hideDone').attr('style', "color: #0069D6 !important;");
		}else{
			$('#hideDone').attr('style', "color:#aaa !important;");
		}
	});
});
$('#hideProgress').click(function() {
	$('.progressColumn').toggle('slow', function() {
		if ($('.progressColumn').is(":visible") == true){
			$('#hideProgress').attr('style', "color: #0069D6 !important;");
		}else{
			$('#hideProgress').attr('style', "color:#aaa !important;");
		}
	});
});
$('#hideBacklog').click(function() {
	$('.backlogColumn').toggle('slow', function() {
		if ($('.backlogColumn').is(":visible") == true){
			$('#hideBacklog').attr('style', "color: #0069D6 !important;");
		}else{
			$('#hideBacklog').attr('style', "color:#aaa !important;");
		}
	});
});
$('#hideChilly').click(function() {
	$('.chillyColumn').toggle('slow', function() {
		if ($('.chillyColumn').is(":visible") == true){
			$('#hideChilly').attr('style', "color: #0069D6 !important;");
		}else{
			$('#hideChilly').attr('style', "color:#aaa !important;");
		}
	});
});
// function hideColumn(columnIndex) {
// 	$('.stories td:nth-child('+(columnIndex+1)+'), stories th:nth-child('+(columnIndex+1)+')').hide();
// }
</script>
</body>
</html>

